.account-intro-login {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.AccountContainer_title{
    display: flex;
    justify-content: center;
}

.findPasswordInfo {
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.findPasswordInfo2 {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.findPassword_idField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.idField {
    height: 58px;
    width: 354px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
    
}

.findPassword_emailField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    
}

.emailField {
    height: 58px;
    width: 270px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.emailSubmitButton {
    width: 84px;
    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
}

.findPassword_certificationNumberField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    
}

.certificationNumberField {
    height: 58px;
    width: 270px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
}

.certificationNumberSubmitButton {
    width: 84px;
    background-color: #fff;
    border-radius: 5px;
    font-size: medium;
}

.findPassword_newPasswordField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.newPasswordField {
    height: 58px;
    width: 354px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
    
}

.findPassword_newPasswordCheckField {
    align-self: stretch;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.newPasswordCheckField {
    height: 58px;
    width: 354px;
    align-self: stretch;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: large;
    
}

.resetPasswordButton {
    display: flex;
    justify-content: center;
}

.resetPasswordSubmitButton {
    height: 58px;
    width: 354px;
    background-color: #fca652;
    border: 1px solid #fca652;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.resetPasswordSubmitButton:hover {
    background-color: #ff8000;
    border: 1px solid #ff8000;
    box-sizing: border-box;
    border-radius: 5px;
  }

.resetPasswordSubmitButtonText {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: large;
    
}



